/*
JavaScript Snake
By Patrick Gillespie
http://patorjk.com/games/snake
*/
body {
    margin:0px;
    padding:0px;
}

#game-area {
    margin:0px;
    padding:0px;
}

#mode-wrapper {
    display: none; /* hiding the mode wrapper */
    color: #ffffff;
    font-family: Verdana, arial, helvetica, sans-serif; 
    font-size: 14px;
    
}

#game-area:focus { outline: none; }

a.snake-link, a.snake-link:link, a.snake-link:visited {
  color: #FCFC54; 
}

a.snake-link:hover {
  color: #FfFf54; 
}

.congratulations{
    color: #EFFF00;
}

.play-button{
    width: 160px;
    font-size: 24px;
    padding: 5px;
    border-radius: 10px;
    background-color: #333;
    border: none;
    color: #FFF;
    margin: 3px auto;
    letter-spacing: 0.03em;
    border: 2px solid #FFF;
    position: absolute;
    top: 100px;
    left: 80px;
}

button:hover{
    background: #636161;
}
button{
    width: 160px;
    font-size: 24px;
    padding: 5px;
    border-radius: 10px;
    background-color: #333;
    border: none;
    color: #FFF;
    margin: 3px auto;
    letter-spacing: 0.03em;
    border: 2px solid #FFF;
}

.instructions{
    width: 398px;
    font-size: 20px;
    text-align: center;
    line-height: 29px;
    left: -31px;
    position: absolute;
}
.snake-pause-screen {
    font-family: Verdana, arial, helvetica, sans-serif; 
    font-size: 14px;
    position:absolute;
    width:300px;
    height:80px;
    text-align:center;
    top:38%;
    left:50%;
    margin-top:-40px;
    margin-left:-150px;
    display:none;
    background-color:black;
    color:white;
}
.game-over{
    font-size: 20px;
}
.score-text{
    font-size: 20px;
    margin-bottom:30px;
}
.snake-panel-component {
    position: absolute;
    font-family: Verdana, arial, helvetica, sans-serif; 
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    background-color: #3b3b3b;
    padding: 8px;
    margin: 0px;
    bottom: 6px;
    left: 13px;
}
.high-score-block {
/*     position: relative;
    left: 200px;
    bottom: 50px;
 */    position: absolute;
    font-family: Verdana, arial, helvetica, sans-serif; 
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    background-color: #3b3b3b;
    padding: 8px;
    margin: 0px;
    bottom: 6px;
    right: 15px;
}

.left-box-top-score {
    position: absolute;
    font-family: Verdana, arial, helvetica, sans-serif;
    text-align: center;
    background-color: #272727;
}

.snake-snakebody-block {
    margin: 0px;
    padding: 0px;
    background-color: #35de00;
    position: absolute;
    border: 0px solid #000080;
    background-repeat: no-repeat;
}

.snake-snakebody-alive {
   background-image: url('./images/snakeblock.png');
   background-color: #3b3b3b;
}
.snake-snakebody-dead {
   background-image: url('./images/deadblock.png');
   background-color: #3b3b3b;
}

.snake-food-block {
    margin: 0px;
    padding: 0px;
    background-color: #FF0000;
    border: 0px solid #000080;
    position: absolute;
}

.snake-playing-field {
    margin: 0px;
    padding: 0px;
    position: absolute;
    background-color: #272727;
    border: 0px solid #272727;
}

.snake-game-container {
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    border-style: none;
    zoom: 1;
    background-color: #3b3b3b;
    position: relative;
}
            
.snake-welcome-dialog {
    padding: 8px;
    margin: 0px;
    background-color: #272727;
    color: #ffffff;
    font-family: Verdana, arial, helvetica, sans-serif;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    /*height: 150px;*/
    margin-top: -100px;
    margin-left: -158px;
    text-align: center;
    display: block;
}

.snake-try-again-dialog {
    padding: 8px;
    margin: 0px;
    background-color: #272727;
    color: #ffffff;
    font-family: Verdana, arial, helvetica, sans-serif;
    font-size: 14px;
    position: absolute;
    top: 32%;
    left: 31%;
    width: 300px;
    height: 100px;
    text-align: center;
    display: none;
    height:192px;
    }


    /*
JavaScript Snake
By Patrick Gillespie
http://patorjk.com/games/snake
*/
/*
body {
	margin:0px;
	padding:0px;
}

#game-area {
	margin:0px;
	padding:0px;
}

#high-score {
    position: relative;
    left: 200px;
    bottom: 50px;
}

#mode-wrapper {
    display: none;
    color: #ffffff;
    font-family: Verdana, arial, helvetica, sans-serif; 
    font-size: 1px;
    
}

#game-area:focus { outline: none; }

a.snake-link, a.snake-link:link, a.snake-link:visited {
  color: #ffffff; 
}

a.snake-link:hover {
  color: #ffffff; 
}

.snake-pause-screen {
    font-family: Verdana, arial, helvetica, sans-serif; 
    font-size: 14px;
    position:absolute;
    width:300px;
    height:80px;
    text-align:center;
    top:50%;
    left:50%;
    margin-top:-40px;
    margin-left:-150px;
    display:none;
    background-color:black;
    color:white;
}

.snake-panel-component {
    position: absolute;
    font-family: Verdana, arial, helvetica, sans-serif; 
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    background-color: #3b3b3b;
    padding: 8px;
    margin: 0px;
}

.snake-snakebody-block {
    margin: 0px;
    padding: 0px;
    background-color: #FF0000;
    position: absolute;
    border: 0px solid #000080;
    background-repeat: no-repeat;
}

.snake-snakebody-alive {
   background-image: url('./images/snakeblock.png');
}
.snake-snakebody-dead {
   background-image: url('./images/deadblock.png');
}

.snake-food-block {
    margin: 0px;
    padding: 0px;
    background-color: #FF0000;
    border: 0px solid #000080;
    position: absolute;
}

.snake-playing-field {
    margin: 0px;
    padding: 0px;
    position: absolute;
    background-color: #797979;
    border: 0px solid #797979;
}

.snake-game-container {
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    border-style: none;
    zoom: 1;
    background-color: #3b3b3b;
    position: relative;
}
            
.snake-welcome-dialog {
    padding: 8px;
    margin: 0px;
    background-color: #000000;
    color: #ffffff;
    font-family: Verdana, arial, helvetica, sans-serif;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    /*height: 150px;*//*
    margin-top: -100px;
    margin-left: -158px;
    text-align: center;
    display: block;
}

.snake-try-again-dialog {
    padding: 8px;
    margin: 0px;
    background-color: #000000;
    color: #ffffff;
    font-family: Verdana, arial, helvetica, sans-serif;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 100px;
    margin-top: -75px;
    margin-left: -158px;
    text-align: center;
    display: none;
    }
*/